@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: 		             #2c3e50;
$font-family-sans-serif:     'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-inverse-bg:          #34495e;
$navbar-inverse-link-color:  #7f8c8d;
$navbar-inverse-brand-color: #7f8c8d;
$brand-primary:              #7f8c8d;
$navbar-height:              45px;
$jumbotron-bg:               #ecf0f1;

@import 'bootstrap-sprockets';
@import 'bootstrap';

.center {
	text-align: center;
}

.navbar-brand {
	font-weight: bold;
}

.checkbox input[type='checkbox'] {
	margin-left: 0;
}

.alert-success {
	color: #ecf0f1;
}

.alert-info {
	color: #ecf0f1;
}

.alert-warning {
	color: #ecf0f1;
}

.alert-danger {
	color: #ecf0f1;
}